#login-form {
	/* Full-width inputs */
	input[type=text], input[type=password] {
	  	width: 100%;
  		padding: 12px 20px;
	  	margin: 8px 0;
	  	display: inline-block;
  		border: 1px solid #ccc;
	  	box-sizing: border-box;
	}
	/* Set a style for all buttons */
	input {
		background-color: black;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 100%;
		border: 1px solid #ccc;
		border-radius: 5px;
	}

	/* Add a hover effect for buttons */
	input:hover {
		opacity: 0.8;
	}

	#login {
		background-color: #1a6102;
	}

	#cancel {
		background-color: #520108;
	}
}
