@import "utility.scss";
@import "/fonts/inter/inter.css";
@font-face {
    font-family: Inter;
}

body {
	font-family: "Inter";

	color: #ffffff;
	background-color: #000000;
}

#main {
	font-weight: 800px;
	font-size: 80px;
}

#navbar {
	--div-height: 45px;
	height: var(--div-height);
	width: 99%;

	overflow: hidden;
	list-style-type: none;
  	padding: 5px;

	img {
		height: var(--div-height);
	}
	a {
		line-height: var(--div-height);
		margin-right: 15px;
		display: inline-block;
		vertical-align: text-top;
	}
}
